<h2>hello world from index</h2>



<%= link_to("hello page", {:controller => 'demo', :action => 'hello'}) %><br />

<%= link_to('Hello with parameters', {:controller => 'demo', :action => 'hello', :page => 5, :id => 20}) %> <br />		